/* -----------------
    COMMONS   
----------------- */
section {
    padding: 3.125rem 0;
}
.container {
    max-width: 71.25rem;
    margin: auto;
}
.menu ul {
    list-style: none;
}
.menu ul li:not(:last-child) {
    padding-right: 1.875rem;
}
.menu ul li a{
    text-decoration: none;
    color: inherit;
}


/* -----------------
    FLEX   
----------------- */
.flex {
    display: flex;
    justify-content: space-between;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.padding-mobile {
    padding: 0 .9375rem;
}