/* -----------------
    COMMONS   
----------------- */
section {
    padding: 3.125rem 0;
}
.container {
    max-width: 71.25rem;
    margin: auto;
    padding: 0 .9375rem;
}
.menu ul {
    list-style: none;
}
/* .menu ul li:not(:last-child) {
    padding-right: 1.875rem;
} */
.menu ul li a{
    text-decoration: none;
    color: inherit;
}
.footer-container {
    max-width: 35.625rem;
    margin: auto;
    text-align: center;
}

/* -----------------
    FLEX   
----------------- */
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.9375rem;
}
.col {
    padding: 0 .9375rem;
}
