/* -----------------
    FOOTER
----------------- */
footer {
    color: white;
}
.pre-footer {
    background-color: var(--second-color);
    padding: 3.75rem 0;
}
.pre-footer p {
    color: inherit;
    padding: 2.1875rem 0;
}
.pre-footer small {
    display: block;
    padding-top: 2.1875rem;
}
.pre-footer small a {
    text-decoration: underline;
}
.spam {
    font-size: 88px;
    color: #fdc15f;
}
.footer {
    background-color: black;
    padding: 2.5rem 0;
}
.footer p:first-child {
    padding: 0 1.875rem 3.75rem;
    color: inherit;
}
.footer p:last-child {
    padding: 0 2.5rem;
    color: inherit;
}
.footer p a {
    text-decoration: underline;
    color: var(--second-color);
}