@import url(reset.css);
@import url(variables.css);
@import url(commons.css);
@import url(typography.css);
@import url(header.css);
@import url(highlights.css);
@import url(strategic.css);
@import url(feedback.css);
@import url(benefits.css);

/* -----------------
    MAIN   
----------------- */
/* -----------------
    ABOUT-US   
----------------- */
.about.col {
    width: 100%;
}
.about-col .img {
    width: 200px;
    height: 200px;
    background-color: brown;
}

@media screen and (min-width: 768px) {
    .about-col-description {
        width: 60%;
    }
    .about-col-image {
        width: 40%;
    }
}

/* -----------------
    FOOTER
----------------- */
footer {
    color: white;
}
.pre-footer {
    background-color: var(--second-color);
    padding: 3.75rem 0;
}
.footer {
    background-color: black;
    padding: 2.5rem 0;
}
.footer p:first-child {
    padding-bottom: 3.75rem;
}
