@import url(reset.css);
@import url(variables.css);
@import url(commons.css);
@import url(typography.css);
@import url(header.css);
@import url(highlights.css);
@import url(strategic.css);


/* -----------------
    MAIN   
----------------- */


/* -----------------
    FEEDBACK   
----------------- */
#feedback .container {
    padding: 0 .9375rem;
    text-align: center;
}
.card-users {
    width: 100%;
    background-color: var(--second-color);
}
.card-users .img {
    width: 200px;
    height: 200px;
    background-color: blanchedalmond;
}
@media screen and (min-width: 768px) {
    .card-users .img {
        width: 30%;
    }
    .card-users .user-details {
        width: 70%;
    }
}

/* -----------------
    BENEFITS   
----------------- */
#benefits {
    background-color: var(--second-color);
}
.col-benefits-card {
    width: 100%;
    background-color: white;
    margin-top: 1.875rem;
}

@media screen and (min-width: 768px) {
    .col-benefits-card {
        width: 49%;
    }
}
@media screen and (min-width: 992px) {
    .col-benefits-card {
        width: 32%;
    }
}

/* -----------------
    ABOUT-US   
----------------- */
.about.col {
    width: 100%;
}
.about-col .img {
    width: 200px;
    height: 200px;
    background-color: brown;
}

@media screen and (min-width: 768px) {
    .about-col-description {
        width: 60%;
    }
    .about-col-image {
        width: 40%;
    }
}

/* -----------------
    FOOTER
----------------- */
footer {
    color: white;
}
.pre-footer {
    background-color: var(--second-color);
    padding: 3.75rem 0;
}
.footer {
    background-color: black;
    padding: 2.5rem 0;
}
.footer p:first-child {
    padding-bottom: 3.75rem;
}
