@import url(reset.css);
@import url(variables.css);
@import url(commons.css);


/* -----------------
    HEADER   
----------------- */
header {
    background-color: var(--first-color);
    color: white;
}
.nav-bar {
    padding: .9375rem 0;
}
.menu ul {
    display: none;
}
@media screen and (min-width: 62rem) {
    .menu .hamburger {
        display: none;
    }
    .menu ul {
        display: flex;
    }

}

/* -----------------
    MAIN   
----------------- */
/* -----------------
    HIGHLIGHTS   
----------------- */
.cards-debug {
    padding: 0 .9375rem;
}
.col-cards {
    width: 100%;
}
.col-cards div {
    background-color: var(--first-color-light);
    height: 300px;
}
#highlights .col-cards div{
    height: 300px;
    background-color: var(--first-color-light);;
}

@media screen and (min-width: 48rem) {
    .col-cards {
        width: calc(100% / 3);
    }
    .col-cards:first-child {
        width: calc((100% / 3) * 2);
    }
}
/* -----------------
    STRATEGIC   
----------------- */
#strategic {
    background-color: var(--second-color);
}
#strategic .row {
    padding: 0 .9375rem;
}
@media screen and (min-width: 62rem) {
    .col-strategic {
        width: 50%;
    }
}